<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block titulo %} MyWallapop {% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>

    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }  </script>
  {% block scripts %} {% endblock %}
</head>

<body>


  <!-- Barra de Navegación superior -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="/img/logo.jpg" alt="logo" height="50px" />
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul id="nav-options" class="nav navbar-nav">
          <li id="mTienda" class="active"><a href="/store">Tienda</a></li>
          <li id="mNuevaOferta"><a href="/offers/addOffer">Nueva oferta</a></li>
          <li id="mMisOfertas"><a href="/user/offers">Mis ofertas</a></li>
          
          <li id="mOfertasCompradas"><a href="/user/offers/bought">Compradas</a></li>

          <script>
            if (getCookie("role") == "admin") {
              $("#nav-options").append("<li id='usuarios'><a href='/users/list'>Usuarios</a></li>");

            }
          </script>
        </ul>
        <ul id="userOptions" class="nav navbar-nav navbar-right">

          <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <script>

            var user = getCookie("user");

            if (user == "") {
              $("#userOptions")
                .append("<li><a href='/login'><span class='glyphicon glyphicon-log-in'></span> Login</a></li>");
            } else {
              $("#userOptions")
                .append("<li><a href='/logout'><span class='glyphicon glyphicon-log-out'></span> Logout</a></li>");

                $("#userOptions")
                .append("<li ><span class='nav-item' style='color:white;'> Dinero actual: " + getCookie("money") + " $" + "</span></li>");

            }

          </script>


        </ul>
      </div>
    </div>
  </nav>



  <div class="container">
    <script>

      var mensaje = getUrlParameter('mensaje');
      var tipoMensaje = getUrlParameter('tipoMensaje');

      if (mensaje != "") {
        if (tipoMensaje == "") {
          tipoMensaje = 'alert-info';
        }
        $(".container")
          .append("<div class='alert " + tipoMensaje + "'>" + mensaje + " </div>");
      }
      function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' :
          decodeURIComponent(results[1].replace(/\+/g, ' '));
      };


    </script>

    <!-- Contenido -->
    {% block contenido_principal %}
    <!-- Posible contenido por defecto -->
    {% endblock %}


  </div>


</body>

</html>