{% extends "base.html" %}

{% block titulo %} List users {% endblock %}

{% block contenido_principal %}
<h2>Users list</h2>
<div class="table-responsive">
    <form class="form-horizontal" method="post" action="/users/deleteMultiple">

        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- Headers -->
                    <th>eMail</th>
                    <th>name</th>
                    <th>surname</th>
                    <th>role</th>

                </tr>
            </thead>
            <tbody>
                {% for user in users %}

                <tr>

                    <td>{{user.email}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.rol}}</td>
                    <td>
                        {%if user.rol!="admin"%}
                        <input type="checkbox" name="id" value={{user.email}} />
                        {% endif %}
                    </td>

                </tr> {% endfor %}
            </tbody>
        </table>
        <!-- Submit button -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="delete-button" type="submit" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </form>

</div>
{% endblock %}