{% extends "base.html" %}

{% block titulo %} Add offer {% endblock %}

{% block contenido_principal %}
<h2 >Add offer</h2>
<form class="form-horizontal" method="post" action="/offers/addOffer" >

    <!--Title -->
    <div class="form-group">
        <label class="control-label col-sm-2" for="title" >Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title"
                   placeholder="Title" required="true"/>
           
        </div>
    </div>


    <!-- Description -->
    <div class="form-group">
        <label class="control-label col-sm-2" for="description" >Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="description"
                   placeholder="Description" required="true"/>
           
        </div>
    </div>
    <!-- Price -->
    <div class="form-group">
        <label class="control-label col-sm-2" for="price" >Price</label>
        <div class="col-sm-10">
            <input type="number" step=".01" class="form-control" name="price"
                   placeholder="Price" required="true"/><span>€</span>
           
        </div>
    </div>
    <!-- Highlight -->
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="highlighted" id="highlighted"
               placeholder="highlighted">
        <label class="form-check-label" for="highlighted" >Destacada</label>
    </div>
    <!-- Submit -->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

            <button type="submit" class="btn btn-primary" >Add offer</button>
        </div>
    </div>

</form>
{% endblock %}